.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  .search-container {
    display: flex;
    flex-direction: row;
    .search {
      display: flex;
      flex-basis: 70%;

      .search-wrapper {
        display: flex;
        width: 100%;
        border-radius: 8px;
        border: 1.5px solid #e5e8f1;
        overflow: hidden;
        background-color: white;
        .search-container {
          width: 100%;
          height: 45px;
          padding: 0 18px;

          mat-icon {
            vertical-align: middle;
            margin-top: 12px;
            height: 24px;
            width: 32px;
          }

          input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 48px;
            border: none;
          }
          input:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.list {
  flex: 1;
}

.list-item {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  :hover {
    cursor: pointer;
  }
  label {
    color: gray;
  }
  span {
    padding: 16px;
    width: 25%;
  }
}
